.scroll-reveal {
  margin: 20px 0;
  will-change: transform;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
  will-change: opacity, filter;
}

.word {
  display: inline-block;
}

